<% include partials/header %>


<div class="well user">
    <h3 class="lead">Register</h3>
    <form action="/register" method="POST">
        <input type="text" name="username" placeholder="username" />
        <input type="password" name="password" placeholder="password" />
        <input class="btn btn-success" type="submit" value="Sign up" />    
    </form>
</div>

<% include partials/footer %>
