.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

.user h3 {
    text-align: center;
}

.user input {
    display: block;
    margin: 1.5rem auto;
    
}