.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 19px;
}

.user h3 {
    text-align: center;
}

.user input {
    display: block;
    margin: 1.5rem auto;
    
}

.break-line {
    border-top: 1px solid lightgrey;
    margin-bottom: 10px;
}

.creator {
    margin: 0;
}

.caption-full p {
    margin-top: 10px;
}

.delete {
    display: inline;
    margin-left: 5px;
}

.comment-button {
    margin-right: 10px;
}
